<%- include('../includes/head.ejs') %>

<div class="container">
      

  <div class="topLeadersList">
    <% users.map((user, index) => { %>
      <div class="leader" key={user.id}>
        <% if(index + 1 <= 3) { %>
          <div class="containerImage">
            <img class="image" loading="lazy" src="https://cdn-icons-png.flaticon.com/512/186/186036.png" />
            <div class="crown">
              <svg
                id="crown1"
                fill="#0f74b5"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 50"
              >
                <polygon
                  class="cls-1"
                  points="12.7 50 87.5 50 100 0 75 25 50 0 25.6 25 0 0 12.7 50"
                />
              </svg>
            </div>
            <div class="leaderName"><%= user.name %></div>
          </div>
          <% } %>
      </div>
    <% }) %>
  </div>





  <div class="playerslist">
    <div class="table">
        <div>#</div>
    
        <div>Name</div>
    
      
      
        <div>
          Durood Count
        </div>
      
    </div>
    <div class="list">
      <% users.map((user, index) => { %>
        <div class="player">
          <span> <%= index + 1 %></span>
          <div class="user">
            <img class="image" src="https://cdn-icons-png.flaticon.com/512/186/186036.png" />
            <span> <%=user.name%> </span>
          </div>
          <span> <%=user.duroodCount%> </span>
        </div>
      <% }) %>
    </div>
    </div>
  </div>
  </body>
</html>
